/* Styles footer and .footer2 */
.footer,
.footer2 {
  display: flex;
  margin-top: 150px;
  color: white;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  justify-content: space-evenly;
}

/* Styles specific to .footer */
.footer {
  background: #1ca47c;
}

/* Styles specific to .footer2 */
.footer2 {
  background: #dc1e45;
}

/* Common styles for .footer and .footer2 div elements */
.footer div,
.footer2 div {
  text-align: center;
}

/* Shared column styles */
.col-1,
.col-2,
.col-3 {
  flex: 1;
  color: white;
  text-decoration: none;
}

/* Shared form input styles */
form input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  outline: none;
  border: none;
}

/* Shared form button styles */
form button {
  background: transparent;
  border: 2px solid #ffff;
  color: white;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

/* Shared footer icon styles */
.footer-icons img {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .col-2 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .col-1,
  .col-2,
  .col-3 {
    font-size: 5px;
  }
  .footer-icons img {
    width: 15px;
    height: 15px;
    margin: 5px;
  }
}
