/* Styles for the page */
@font-face {
  font-family: Helsinki;
  src: url(/Helsinki.ttf) format("truetype");
}
@font-face {
  font-family: Georama_Condensed-Regular;
  src: url(/Georama_Condensed-Regular.ttf) format("truetype");
}

h1,
h2,
a,
label {
  color: white;
  font-family: Helsinki;
  text-decoration: none;
  width: 100%;
}

h3,
p {
  color: white;
  font-family: Georama_Condensed-Regular;
  width: 100%;
}

body,
body2 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2d2d2d;
  width: 100%;
}

body {
  box-shadow: inset 33.33vw 0px 0px #0b91c4, inset 66.66vw 0px 0px #dc1e45,
    inset 99.99vw 0px 0px #1ca47c;
}

body2 {
  box-shadow: inset 33.33vw 0px 0px #ff2f67, inset 66.66vw 0px 0px #1ca47c,
    inset 99.99vw 0px 0px #0b91c4;
}

.heading {
  display: flex;
  font-size: 63px;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.ovals-menu {
  display: flex;
  max-width: 100%;
}
.oval1,
.oval2,
.oval3,
.oval4 {
  background-color: transparent;
  width: 300px;
  height: 100px;
  margin: 100px auto 0px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  max-width: 100%;
}

.ovals {
  display: flex;
  width: 100%;
}

.rectangle,
.rectangle2,
.rectangle3 {
  display: flex;
  font-size: 40px;
  margin-top: 250px;
  width: 100%;
}

.rectangle {
  background: #1ca47c;
}

.rectangle2 {
  background: #0b91c4;
}

.rectangle3 {
  background: #ff2f67;
}

.move-right {
  padding-right: 30px;
  width: 100%;
}
.move-right {
  text-align: right;
  padding-right: 30px;
}
.move-left {
  padding-left: 30px;
}

.about-text {
  display: flex;
  font-size: 28px;
  padding: 30px;
  padding-top: 170px;
  text-align: justify;
  width: 100%;
}

.about-img,
.about-img2,
.robot-img,
.cosmo-img,
.eco-img {
  display: flex;
  width: 480px;
  height: 341px;
  max-width: 100%;
}

.exhi-container,
.exhi-text,
.cosmo-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.hello-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}
.button {
  padding-right: 30px;
}

.rob-text,
.cosmo-text,
.eco-text,
.cosmo-fun {
  flex: 1;
  font-size: 28px;
  padding: 30px;
  text-align: justify;
  width: 100%;
}
.address,
.hours,
.ticket-text {
  flex: 1;
  font-size: 28px;
  padding: 10px;
  text-align: justify;
  width: 100%;
}
.hello-text {
  font-size: 28px;
  width: 400px;
  margin-top: 100px;
  text-align: justify;
}

.address,
.hours {
  text-align: center;
  width: 100%;
}

.symbols-container,
.about-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.symbols-container {
  padding-top: 20px;
}

.symbol-img {
  display: flex;
  width: 200px;
  height: 200px;
}

.wrapper {
  display: flex;
  position: relative;
  margin-top: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  justify-content: space-between;
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}
.wrapper .input_field {
  margin-bottom: 10px;
}
.wrapper .input_field input[type="text"],
.wrapper textarea {
  padding: 10px;
}
.wrapper textarea {
  resize: none;
  height: 80px;
  width: 80%;
}
.wrapper .button input[type="submit"] {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #1ca47c;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .html,
  .body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .ovals-menu {
    flex-direction: column;
    margin-top: -100px;
    padding: -100px;
  }

  .heading {
    font-size: 20px;
  }
  .about-text,
  .eco-text,
  .cosmo-text,
  .rob-text,
  .cosmo-fun {
    margin-top: -10px;
    padding: 10px;
  }
  .hello-text {
    margin-top: 10px;
    width: 30%;
  }
  .about-img,
  .about-img2,
  .robot-img,
  .cosmo-img,
  .eco-img {
    width: 130px;
    height: 100px;
  }
  .oval1,
  .oval2,
  .oval3,
  .oval4 {
    width: 130px;
    height: 20px;
    font-size: 12px;
    padding-bottom: 40px;
  }

  .rob-text,
  .cosmo-text,
  .eco-text,
  .hours,
  .address,
  .cosmo-fun,
  .hello-text,
  .exhi-text,
  .ticket-text,
  .about-text {
    font-size: 12px;
  }
  .symbol-img {
    width: 100px;
    height: 100px;
  }
  .wrapper .button input[type="submit"] {
    width: 120px;
    height: 40px;
  }

  .button {
    padding-left: 95px;
  }
}
